#components-layout-demo-responsive .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .site-layout-sub-header-background {
    background: #fff;
  }
  
  .site-layout-background {
    background: #fff;
  }

  .ant-layout-sider-zero-width-trigger {
      top : 0px;
  }
  .ant-layout-sider-zero-width-trigger-left {
    top : 0px;
  }

  .ant-col {
    padding: 2px !important;
  }

  .ant-row {
    margin-bottom: 10px;
  }

  .ant-modal-body {
    padding: 10px;
  }